#bodyframe
{
    width:80%;
    height:900px;
    margin: auto;
    border: 5px solid violet;
}
#bar
{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    display: flex;
    background-color: antiquewhite;
    border: 2px solid black;
}
#empty{
    width:70%;
    cursor: pointer;
    height: 30px;
    margin: auto;
    padding-left: 20px;
    font-size: 24px;
}
#menu
{
    cursor: pointer;
    height: 30px;
    margin: auto;
    width: 10%;
    font-size: 24px;
}
#work
{

    width: 20%;
    height: 400px;
    margin: auto;
    margin-top: 80px;
}
label{
    color:brown;

}
input{
    background-color: cornsilk;
}
#submit
{ 
    margin-top: 20px;
    margin-left: 20px;
    background-color: green;
    color: white;
}